{% extends 'base.html' %}
{% load static %}

{% block title %}Confirmar Eliminación{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Eliminar Servidor</h3>
                <p class="text-center">¿Estás seguro de que quieres eliminar el servidor "<strong>{{ server.dominio_o_ip }}</strong>"?</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'server_list' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
