{% extends 'base.html' %}
{% load static %}

{% block title %}Reportes de respaldos{% endblock %}

{% block head_extra %}
<script src="{% static 'js/json.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container mt-3">
  <h3>Reporte de ejecución de respaldos</h3>
  <table class="table table-hover">
    <thead>
      <tr class="table-success">
        <th>ID Servidor</th>
        <th>Archivo</th>
        <th>Fecha y Hora</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody id="tabla-reportes">
      <tr class="text-center">
        <td colspan="4">Cargando reportes...</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
 {% block scripts_extra %}<script src="{% static 'js/json.js' %}"></script>{% endblock %}

